@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Poppins:wght@400;500;700&family=Roboto+Condensed:wght@300;400;700&display=swap");

html{
  scrollbar-width: normal;
  scrollbar-color: ;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  color: #222;
}
.flex {
  display: flex;
}

/* ************************************************************************************************************************ */
/* -----navigation-bar CSS----- */
/* ************************************************************************************************************************ */
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.nav {
  position: fixed;
  background-color: rgb(255, 255, 255);
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
}
.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  transition: all 0.3s ease-in-out;
}
h1 .logo a {
  font-size: 15px;
  font-weight: 700;
}
.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}
.leftmenu a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
  font-size: 15px;
  letter-spacing: 2px;
}
.rightmenu a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
  font-size: 15px;
  letter-spacing: 2px;
}
.logo a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
  font-size: 38px;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif !important;
}
.nav a:hover {
  background-color: rgb(249, 249, 249);
  cursor: pointer;
}

/* ************************************************************************************************************************ */
/* -----search-bar-Div-CSS----- */
/* ************************************************************************************************************************ */
.search-bar {
  justify-content: space-between;
  padding: 10px 100px 10px 100px;
  letter-spacing: 2px;
}
.search-bar input {
  height: 33px;
  width: 260px;
  align-items: center;
  letter-spacing: 2px;
}
.search-bar-section {
  height: 40px;
  width: 300px;
  border-radius: 6px;
  border: 2px solid rgb(180, 180, 180);
}
.icon {
  text-align: center;
  margin: auto;
  margin-left: 5px;
  font-size: 20px;
  color: rgb(0, 0, 0);
}
#search {
  border: none;
}

/* ************************************************************************************************************************ */
/* -----content part Css----- */
/* ************************************************************************************************************************ */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
/* ************************************************************************************************************************ */
/* ---some extra features section like returns,free Shipping & international collections --> CSS ---*/
/* ************************************************************************************************************************ */

.features {
  position: static;
  justify-content: center;
  justify-content: space-around;
  text-align: center;
  height: 50px;
  width: 100%;
  margin-top: 150px;
  padding: 20px 20px 20px 20px;
}
.features p {
  font-size: 400;
  color: rgb(177, 177, 177);
}

/* ************************************************************************************************************************ */
/* -----Lists of fashions catagory -> CSS----- */
/* ************************************************************************************************************************ */
.listsOfFashions {
  justify-content: center;
  justify-content: space-around;
  border: 1px solid red transparent;
  width: 100%;
  margin-top: 70px;
}
.listOfFashions > div > ul {
  list-style-type: none;
  text-decoration: none;
  line-height: 5px;
}
.list-Decoration-None ul {
  list-style-type: none;
  text-decoration: none;
  line-height: 30px;
  letter-spacing: 1px;
}
#viewMore {
  text-align: center;
  margin-top: 20px;
}
#viewMore button {
  background-color: white;
  border: 1px solid grey;
  color: black;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 5px;
  padding: 15px 17px 15px 17px;
}
#viewMore button:hover {
  text-decoration: underline;
  background-color: rgb(249, 249, 249);
}

/* ************************************************************************************************************************ */
/* -----3 cards - how to shop , FAQ , Need Help -> CSS----- */
/* ************************************************************************************************************************ */
#threeCard {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
  border: 1px solid red transparent;
  width: 100%;
  padding: 15px 47px 25px 47px;
}
#threeCard > div {
  border: 1px solid rgb(240, 240, 240);
  width: 30%;
  height: 110px;
  margin-left: 10px;
  padding: 12px 0px 0px 10px;
}
#threeCard > div:hover {
  background-color: rgb(236, 236, 236);
}
#threeCard > div > div {
  font-size: 20px;
  font-weight: bold;
}
#threeCard > div > p {
  line-height: 25px;
  letter-spacing: 1px;
}

/* ************************************************************************************************************************ */
/* -----signUp form -> CSS----- */
/* ************************************************************************************************************************ */
#formContainer {
  margin: auto;
  align-items: center;
  text-align: center;
  padding: 50px;
  width: 600px;
  line-height: 29px;
  letter-spacing: 2px;
}
.GetUpdate {
  text-align: start;
}
#email {
  width: 100%;
  height: 55px;
  border-radius: 10px;
  border: 1px solid rgb(90, 90, 90);
  font-size: 20px;
  letter-spacing: 2px;
  color: rgb(224, 224, 224);
}
#formContainer button {
  width: 100%;
  height: 55px;
  border-radius: 10px;
  border: 1px solid rgb(90, 90, 90);
  font-size: 20px;
  letter-spacing: 2px;
  color: white;
  background-color: #222222;
}
/* ************************************************************************************************************************ */
/* -----Footer -> CSS----- */
/* ************************************************************************************************************************ */
#footerContainer {
  width: 100%;
  padding-bottom: 20px;
  background-color: #222222;
  color: white;
  padding: 15px 47px 25px 47px;
  line-height: 35px;
  letter-spacing: 2px;
}
#footerContainer a {
  color: white;
  text-decoration: none;
}
#footerContainer > div {
  justify-content: space-around;
}
.customerAndabout {
  width: 500px;
  justify-content: space-around;
}
.copyRight {
  margin-top: 3px;
  padding: 15px 47px 25px 47px;
  line-height: 25px;
  letter-spacing: 1px;
}
.socialMediaIcons > a {
  letter-spacing: 30px;
  font-size: 29px;
}
